@font-face {
    font-family: 'calendar-note';
    src: url('fonts/calendar-note-tfb.ttf') format('truetype');
    src: url('fonts/calendar-note-tfb.woff') format('woff');
}

@font-face {
    font-family: 'signarita-zhai';
    src: url('fonts/signarita-zhai-rhianne.ttf') format('truetype');
    src: url('fonts/signarita-zhai-rhianne.woff') format('woff');
}

@font-face {
    font-family: 'stem-bold';
    src: url('fonts/stem-bold.ttf') format('truetype');
    src: url('fonts/stem-bold.woff') format('woff');
}

@font-face {
    font-family: 'stem-hairline';
    src: url('fonts/stem-hairline.ttf') format('truetype');
    src: url('fonts/stem-hairline.woff') format('woff');
}

@font-face {
    font-family: 'stem-light';
    src: url('fonts/stem-light.ttf') format('truetype');
    src: url('fonts/stem-light.woff') format('woff');
}

@font-face {
    font-family: 'stem-medium';
    src: url('fonts/stem-medium.ttf') format('truetype');
    src: url('fonts/stem-medium.woff') format('woff');
}

@font-face {
    font-family: 'stem-regular';
    src: url('fonts/stem-regular.ttf') format('truetype');
    src: url('fonts/stem-regular.woff') format('woff');
}